<section class="card-grid">
    @for (card of allCards(); track card.id) {
        <div class="card">
            <div class="image">
                @if (card.image) {
                    <img [src]="card.image" [alt]="card.name" loading="lazy">
                } @else {
                    <div class="no-image">Sin imagen</div>
                }
            </div>
            <div class="body">
                <h3>{{ card.name }}</h3>
            </div>
        </div>
    }  @empty {
    <p>No hay cartas</p>
}
</section>
