//Nombre
<input type="text" id="pokeName" [(ngModel)]="nombrePokemon" placeholder="Pincurchin, Gengar..."/>
<button (click)="busquedaCartas()">Buscar</button>
//Tipos
<select [(ngModel)]="tipoSeleccionado">
  <option value="grass"><img src="grassEnergy.png"/></option>
  <option value="fire"><img src="fireEnergy.png"/></option>
  <option value="water"><img src="waterEnergy.png"/></option>
  <option value="lightning"><img src="lightningEnergy.png"/></option>
  <option value="psychic"><img src="psychicEnergy.png"/></option>
  <option value="fight"><img src="fightEnergy.png"/></option>
  <option value="dark"><img src="darkEnergy.png"/></option>
  <option value="metal"><img src="steelEnergy.png"/></option>
  <option value="fairy"><img src="fairyEnergy.png"/></option>
  <option value="colorless"><img src="colorlessEnergy.png"/></option>
  <option value="dragon"><img src="dragonEnergy.png"/></option>
</select>
//Variantes
<select [(ngModel)]="varianteSeleccionada">
  <option value="normal">Normal</option>
  <option value="holo">Holo</option>
  <option value="reverse">Reverse</option>
  <option value="wPromo">Promo</option>
  <option value="firstEdition">First Edition</option>
//Set
<select [(ngModel)]="setSeleccionado">
  <option value="A1">Genetic Apex</option>
  <option value="P-A">Promos-A</option>
  <option value="A1a">Mythical Island</option>
  <option value="A2">Space-Time Smackdown</option>
  <option value="A2a">Triumphant Light</option>
  <option value="A2b">Shining Revelry</option>
  <option value="A3">Celestial Guardians</option>
  <option value="A3a">Extradimensional Crisis</option>
  <option value="A3b">Eevee Grove</option>
  <option value="A4">Wisdom of Sea and Sky</option>
  <option value="A4a">Secluded Springs</option>
  <option value="B1">Mega Rising</option>
  <option value="B1a">Crimson Blaze</option>
  <option value="B2">Fantastical Parade</option>
  <option value="B2a">Paldean Wonders</option>
  //Categoría de carta
  <select [(ngModel)]="categoriaSeleccionada">
    <option value="pokemon">Pokémon</option>
    <option value="trainer">Trainer</option>
    <option value="energy">Energy</option>
  </select>
