//Nombre
<input type="text" id="pokeName" [(ngModel)]="nombrePokemon" placeholder="Pincurchin, Gengar..."/>
//Tipos
<select [(ngModel)]="tipoSeleccionado">
  <option value="Grass">Planta</option>
  <option value="Fire">Fuego</option>
  <option value="Water">Agua</option>
  <option value="Lighting">Eléctrico</option>
  <option value="Psychic">Psíquico</option>
  <option value="Fight">Lucha</option>
  <option value="Dark">Siniestro</option>
  <option value="Metal">Acero</option>
  <option value="Fairy">Hada</option>
  <option value="Colorless">Incoloro</option>
  <option value="Dragon">Dragón</option>
</select>
